// lms - views - support
// These styles are included on admin pages used by the support team.
// ===================================================================

.certificates-search {
    margin: 40px 0;

    input[name="query"] {
        width: 476px;
    }
}


.certificates-results {
    table {
        margin: 0 auto;
    }

    th {
        text-align: center;
        text-decoration: underline;
    }

    th, td {
        padding: 10px 10px;
        vertical-align: middle;
    }
}

.btn-cert-regenerate {
    font-size: 12px;
}

.enrollment-modal-wrapper.is-shown {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  // background: rgba(0, 0, 0, 0.5);

  .enrollment-modal {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: $baseline;
    border-radius: 2px;
    background-color: $gray;

    .enrollment-change-errors {
      
    }

    .enrollment-info {
      padding: 0;
      list-style: none;
    }
  }
}

.enrollment-modal-wrapper.is-hidden {
  display: none;
}
